configuration {
  modi: "drun";
  show-icons: true;
  location: center;
  width: 50;
  lines: 10;
  font: "JetBrainsMono 16";
}

* {
  background: rgba(30,30,30,0.3);
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  text-color: #ffffff;
  selected-background: rgba(255,255,255,0.2);
  selected-foreground: #ffffff;
}
